body {
    background-image: url("/Visualestudio/2entregablephp/assets/Images/ApartadoGerente.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}