
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="/Visualestudio/2entregablephp/Css/Components/Nvar.css">
</head>
<body>
  <header>
   
    <div class="logo">
      <img src="/Visualestudio/2entregablephp/Imagenes/image%20(1).png" alt="Logo Xpedite Freight">
    </div>

    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Registrar Vehículos</a></li>
        <li><a href="#">Mantenimientos correctivos</a></li>
        <li><a href="#">Rodamientos</a></li>
        <li><a href="#">Bodegas</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#"><img src="../../Imagenes/IconoCerrarSecion.jpg"alt="IconoCerrarSecion" height=35px; padding-left= 0%;  padding-right= 35px;
  padding-right: 35px;></li>
      </ul>
    </nav>
  </header>
</body>
</html>