<!-- Nvar.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="/Visualestudio/2entregablephp/Css/Components/Nvar.css">
</head>
<body>
  <header>
    <!-- Logo en la parte izquierda -->
    <div class="logo">
      <img src="/Visualestudio/2entregablephp/Imagenes/image%20(1).png" alt="Logo Xpedite Freight">
    </div>

    <!-- Opciones de navegación a la derecha -->
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Registrar Vehículos</a></li>
        <li><a href="#">Mantenimientos correctivos</a></li>
        <li><a href="#">Rodamientos</a></li>
        <li><a href="#">Bodegas</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#"><img src="/Visualestudio/2entregablephp/Imagenes/IconoCerrarSeccion.png"></li>
      </ul>
    </nav>
  </header>
</body>
</html>