
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.logo img {
  height: 70px;
  padding-left: 0%;
  padding-right: 35px;
}


nav ul {
  display: flex; 
  list-style: none;
  gap: 210px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end; 
}

nav ul li {
  white-space: nowrap;
  position: relative; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color .2s ease;
  position: relative; 
}

nav ul li a::before {
  content: ''; 
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #fff;
  transform: scaleX(0); 
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left; 
}

nav ul li a:hover {
  color: #c2c7dd;
}

nav ul li.logout img {
  height: 35px;
  padding: 0 1rem 0 0;
}


