
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../../Imagenes/FondoMenuConductor.avif");
  min-height: 100vh;
}



.contenido {
  padding: 60px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.formulario-contenedor {
  

  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
  color: white;
}

.formulario-contenedor h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario-contenedor label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario-contenedor input,
.formulario-contenedor select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #c2c7dd;
}

.formulario-contenedor button {
  width: 100%;
  padding: 12px;
  background-color: #6d7a99;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.formulario-contenedor button:hover {
  background-color: #556080;
}


