body {
    background-image: url("../../Images/mantenimientosCorrectivos.jpg");
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding-top: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    margin: auto;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
    margin-bottom: 10px;
  }
  
  .title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00bfff;
    animation: pulse 1.2s infinite ease-out;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  .message {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
  }
  
  .form label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
    display: block;
    margin-bottom: 5px;
  }
  
  .input,
  select {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(105, 105, 105, 0.4);
    border-radius: 10px;
    font-size: 15px;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #00bfff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  